{%  extends 'learning_logs/base.html' %}

{% block page_header %}
    <h1>{{ topic }}</h1>
{% endblock page_header %}

{% block content %}

    <a href="{% url 'learning_logs:new_entry' topic.id %}">Add a new entry</a>

<ul>
    {% for entry in entries %}
     <div>
        <h4 class="card-header">
            {{ entry.date_added|date:'M d, Y H:i' }}
            <small><a href="{% url 'learning_logs:edit_entry' entry.id %}">Edit Entry</a></small>
        </h4>
        <div class="card-body">
            {{ entry.text|linebreaks }}
        </div>
     </div>
    {% empty %}
        <p>No entries for this topic found.</p>
    {% endfor %}
</ul>
{% endblock content %}
